extends layout
block content
   div.container
      #customer
      div.col-xs-12.panel.panel-default
         h1.page-header.text-muted= title
         div.col-xs-6
            p ID:             #{customer._id}
            p Company name:   #{customer.companyName}
            p Contact name:   #{customer.contactName}
            p Contact title:  #{customer.contactTitle}
            p City:           #{customer.city}
         div.col-xs-6
            p Address:        #{customer.address}
            p Region:         #{customer.region}
            p Postal code:    #{customer.postalCode}
            p Country:        #{customer.country}
            p Phone:          #{customer.phone}
            p Fax:            #{customer.fax}
      include backButton
      input.btn.btn-primary#backButton(type= "button", value= "Back")