extends layout
block content
   div.container
      div.col-lg-12.panel.panel-default
         h1.page-header.text-muted= title
         div
            #customers
            table.table.table-hover.table-striped.table-condensed
               tr
                  th ID
                  th Name
                  th Contact name
                  th Phone
                  th Fax
                  th
               for customer in customers
                  tr
                     td= customer._id
                     td
                        a(href="/customers/" + customer._id + "/" + customer.companyName) #{customer.companyName}
                     td= customer.contactName
                     td= customer.phone
                     td= customer.fax
                     td
                        form(method="post" action="/customers/delete/" + customer._id)
                           input.btn.btn-danger.btn-sm#deleteButton(type= "submit", value= "Delete" onclick= "return confirm('Really delete customer?');", style= "float: right")
                           form(method="get" action="/customers/" + customer._id)
                              input.btn.btn-primary.btn-sm#editButton(type= "submit", value= "Edit", style= "float: right")


      include backButton
      input.btn.btn-primary#backButton(type= "button", value= "Back")