extends layout
block content
   div.container
      div.col-lg-12.panel.panel-default
         h1.page-header.text-muted= title
         div
            #employees
            table.table.table-hover.table-striped.table-condensed
               tr
                  th ID
                  th Name
                  th Title
                  th Hire date
                  th
               for employee in employees
                  tr
                     td= employee._id
                     td
                        a(href="/employees/" + employee._id + "/" + employee.firstName + " " + employee.lastName) #{employee.firstName + " " + employee.lastName}
                     td= employee.title
                     td= employee.hireDate
                     td
                        form(class="buttonForm")
                           button.btn.btn-danger.btn-sm#deleteButton(type= "submit", title="Delete", onclick= "return confirm('Really delete customer?');", style= "float: right")
                              i(class="glyphicon glyphicon-trash")
                        form(class="buttonForm" action="/employees/" + employee._id)
                           button.btn.btn-primary.btn-sm.btn-glyph#editButton(class="editButton" type= "submit", title="Edit", value= "Edit", style= "float: right")
                              i(class="glyphicon glyphicon-pencil")
      input.btn.btn-primary#backButton(type= "button", value= "Back")