extends layout
block content
   div.container
      div.col-lg-12.panel.panel-default
         h1.page-header.text-muted= title
         div
            #employees
            table.table.table-hover.table-striped.table-condensed
               tr
                  th ID
                  th Name
                  th Title
                  th Hire date
                  th
               for employee in employees
                  tr
                     td= employee._id
                     td
                        a(href="/employees/" + employee._id + "/" + employee.firstName + " " + employee.lastName) #{employee.firstName + " " + employee.lastName}
                     td= employee.title
                     td= employee.hireDate
                     td
                        form
                           input.btn.btn-danger.btn-sm#deleteButton(type= "button", value= "Delete", style= "float: right")
                           input.btn.btn-primary.btn-sm#editButton(class="editButton" type= "submit", value= "Edit", style= "float: right")
      input.btn.btn-primary#backButton(type= "button", value= "Back")