header.container
    div.home.col-lg-12
        ul.nav.nav-tabs.nav-justified.navbar-collapse
            li(class=title=='Home'?'active':undefined)
                a.text-muted(href="/") Home
            li(class=title=='Orders'?'active':undefined)
                a.text-muted(href="/orders") Orders
            li(class=title=='Customers'?'active':undefined)
                a.text-muted(href="/customers") Customers
            li(class=title=='Employees'?'active':undefined)
                a.text-muted(href="/employees") Employees
            li(class=title=='Categories'?'active':undefined)
                a.text-muted(href="/categories") Categories
            li(class=title=='Products'?'active':undefined)
                a.text-muted(href="/products") Products
