extends layout

block content
    div.container
        div.col-lg-12.panel.panel-default
            h1.page-header.text-muted= title
            div
                #orders
                table.table.table-hover.table-striped.table-condensed
                    tr
                        th ID
                        th Date
                        th Name
                        th Address
                        th
                        for order in orders
                            tr
                                td
                                    a(href="/orders/" + order._id) #{order._id}
                                td= order.orderDate
                                td= order.shipName
                                td= order.shipAddress
                                td
                                    form(action= "/orders/" + order._id)
                                        input.btn.btn-danger.btn-sm#deleteButton(type= "button", value= "Delete", style= "float: right")
                                        input.btn.btn-primary.btn-sm#editButton(class="editButton" type= "submit", value= "Edit", style= "float: right")
        input.btn.btn-primary#backButton(type= "button", value= "Back")
