extends layout
block content
   div.container
      #order
      div.col-xs-12.panel.panel-default
         h1.page-header.text-muted= title
         div.col-xs-6
            p= 'Customer: '
               a(href='/customers/' + order.customer._id + "/" + order.shipName) #{order.shipName}
            p Contact:  #{order.customer.contactName}
            p ID:       #{order._id}
            p Date:     #{order.orderDate}
            p Required: #{order.requiredDate}
            p Shipped:  #{order.shippedDate}
         div.col-xs-6
            p= 'Employee: '
               a(href='/employees/' + order.employee._id ) #{order.employee.firstName + " " + order.employee.lastName}
            p Name:     #{order.shipName}
            p Address:  #{order.shipAddress}
            p City:     #{order.shipCity}
            p Zip:      #{order.shipPostalCode}
            p Country:  #{order.shipCountry}
         div.panel-default
            table.table.table-hover.table-striped.table-condensed
               tr.tableHeader
                  th Product
                  th Unit price
                  th Quantity
                  th Discount
                  th Price
               #orderDetails
               #price
               - var sum= 0;
               for orderDetail in orderDetails
                  - var price= orderDetail.unitPrice * orderDetail.quantity
                  tr
                     td= orderDetail.product.name
                     td= orderDetail.unitPrice
                     td= orderDetail.quantity
                     td= orderDetail.discount
                     td= price
                        form(class="buttonForm")
                           button.btn.btn-danger.btn-sm#deleteButton(type= "submit", title="Delete", onclick= "return confirm('Really delete customer?');", style= "float: right")
                              i(class="glyphicon glyphicon-trash")
                        form(class="buttonForm")
                           button.btn.btn-primary.btn-sm.btn-glyph#editButton(class="editButton" type= "submit", title="Edit", value= "Edit", style= "float: right")
                              i(class="glyphicon glyphicon-pencil")
                  - sum= sum + price
               tr
                  th TOTAL
                  th
                  th
                  th
                  th= sum
      input.btn.btn-primary#backButton(type= "button", value= "Back")
